<div class="aside">
  <div class="container-fluid">
    <nav>
      <ul>
        <li><a routerLink="/students" routerLinkActive="active"><span><i class="fa-solid fa-graduation-cap"></i></span>
          Students</a></li>
        <li><a routerLink="/courses" routerLinkActive="active"><span><i class="fa-solid fa-receipt"></i></span> Courses</a>
        </li>
        <li><a routerLink="/teachers" routerLinkActive="active"><span><i class="fa-solid fa-user-graduate"></i></span>
          Teachers</a></li>
        <li><a routerLink="/instructor-courses/1" routerLinkActive="active"><span><i class="fa-solid fa-certificate"></i></span>
          Instructor courses</a></li>
        <li><a routerLink="/student-courses/1" routerLinkActive="active"><span><i class="fa-solid fa-pizza-slice"></i></span>
          Student Courses</a></li>
      </ul>
    </nav>
  </div>
</div>
